flexget
cherrypy
django
south
pycurl
djangorestframework
django-sitetree
django-jquery
django-jquery-ui
django-celery
django-picklefield
django-mobile
easy_extract
django-celery-transactions
guessit==0.9.1
pillow
netaddr
django-crispy-forms
django-htmlmin