flexget
cherrypy
django
south
pycurl
djangorestframework
django-sitetree
django-jquery
django-jquery-ui
django-celery
django-picklefield
django-mobile
easy_extract
django-celery-transactions
guessit
pillow
netaddr
django-picklefield