django==1.6.8
beautifulsoup4==4.6.0
south==1.0.2
cherrypy==3.6.0
django-crispy-forms==1.4.0
python-dateutil==2.3
django-mobile==0.7.0
easy-extract==0.1.2
FlexGet>=2.10.44
djangorestframework==2.4.4
django-sitetree==1.2.1
pytz==2017.2
requests==2.14.2
netaddr==0.7.19
django-picklefield==0.3.2
django-jquery==3.1.0
htmlmin==0.1.10
django-jquery-ui==1.11.4.1
django-pure-pagination==0.3.0
babelfish==0.5.5