{% load download_extras %}

<div pri="{{ download.priority }}" class="row row-item download-item"
        {% if downloadgroup.list and downloadgroup.list|length > 1 %}
            id="item_m{{ downloadgroup.grouper }}" multi="yes"
        {% else %}
            id="item_{{ download.id }}"
        {% endif %}
        >
    <div class='col-md-12 download-row'>
        <div class="poster">
            {% if download.tvdbid %}
                <a href="http://thetvdb.com/index.php?tab=series&id={{ download.tvdbid.id }}" target="_blank">
                    <img src="{% if download.tvdbid.posterimg %}{{ download.tvdbid.posterimg.url }}{% else %}{{ STATIC_URL }}images/noimg.gif{% endif %}">
                </a>
            {% elif download.imdbid.posterimg %}
                <a href="http://www.imdb.com/title/tt{{ download.imdbid.id }}/" target="_blank">
                    <img src="{{ download.imdbid.posterimg.url }}">
                </a>
            {% else %}
                <img src="{{ STATIC_URL }}images/noimg.gif">
            {% endif %}
        </div>

        <div class="detail">
            <div class="top">
                <h4><span class="title" title="{{ download.title }}">{{ download.get_title_clean }}</span>
                    {% if download.get_type == 2 and download.get_date %}<small><i>({{ download.get_date.year }})</i></small>{% endif %}

                    {% if downloadgroup.list|length == 1 or downloadgroup.list|length == 0 or not downloadgroup %}
                        {% if download.get_type == 1 %}
                            <b>
                                {% if download.get_seasons|length > 1 %}
                                    {% for season in download.get_seasons %}
                                        S{{ season }}
                                    {% endfor %}
                                {% else %}
                                    S{{ download.get_seasons.0 }}
                                    {% for ep in download.get_eps %}
                                        E{{ ep }}
                                    {% endfor %}
                                {% endif %}
                            </b>
                        {% endif %}
                    {% endif %}

                    {% include "queue/downloaditem_rating.html" %}

                    <span class="label-bar">
                        {% if download.get_type == 1 %}
                            <span class="label label-success">TVShow</span>
                        {% elif download.get_type == 2 %}
                            <span class="label label-info">Movie</span>
                        {% endif %}

                        {% for quality in download.get_quality %}
                            <span class="label label-primary">{{ quality }}</span>
                        {% endfor %}

                        {% if download.imdbid %}
                             {% for genre in download.imdbid.get_genres %}
                                <span class="label label-warning">{{ genre|title }}</span>
                             {% endfor %}
                        {% endif %}

                        {% if download.tvdbid %}
                            {% if not download.imdbid %}
                                {% for genre in download.tvdbid.get_genres %}
                                    <span class="label label-warning">{{ genre|title }}</span>
                                {% endfor %}
                            {% endif %}

                            {% if download.tvdbid.get_network %}
                                 <span class="label label-default">{{ download.tvdbid.get_network|title }}</span>
                            {% endif %}
                        {% endif %}
                    </span>
                </h4>

            {% if download.status != 4 and download.status != 6 %}
                {% with percent_complete=download.get_percent_complete %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_complete }}%">
                            <div class="progress-text">
                                {{ percent_complete|floatformat:2 }}% {% if download.status == 1 %} Complete {% endif %}
                                {% if download.status == 2 %}
                                    {{ download.get_speed|filesizeformat }}/s
                                    {% if download.get_finish_date %}
                                        {{ download.get_finish_date|timeuntil }}
                                    {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endif %}

            <hr>
            <div class="description">
                {% if download.tvdbid.description %}
                    {% if flavour == "mobile" %}{{ download.tvdbid.description|truncatesmart:300 }}{% else %}{{ download.tvdbid.description }}{% endif %}
                {% elif download.imdbid.description %}
                   {% if flavour == "mobile" %}{{ download.imdbid.description|truncatesmart:70 }}{% else %}{{ download.imdbid.description}}{% endif %}
                {% endif %}
            </div>

                {% if download.status == 4 %}
                    <div class="alert alert-success"><b>Extracted and Moved: {{ download.dlstart }}</b></div>
                {% endif %}

                {% if download.onlyget %}
                   <div class="panel panel-info download-group">
                        <div class="panel-heading arrow-toggle" data-toggle="collapse" data-target="#{{ download.id }}_items_only">
                            <span><strong>Download following epsiodes</strong></span>
                            <a class="arrow-toggle icon-arrow-grey pull-right collapsed" data-toggle="collapse" data-target="#{{ download.id }}_items_only" href="javascript:void(0);">
                                <span class="glyphicon glyphicon-collapse-down icon-arrow-up icon-lg"></span>
                                <span class="glyphicon glyphicon-collapse-up icon-arrow-down icon-lg"></span>
                            </a>
                        </div>
                        <div id="{{ download.id }}_items_only" class="collapse">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Season</td>
                                        <td>Epsiode</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for season,eps in download.onlyget.items %}
                                        {% for ep in eps %}
                                            <tr>
                                                <td>S{{ season }}</td>
                                                {% if ep == 0 %}
                                                    <td>ALL</td>
                                                {% else %}
                                                    <td>E{{ ep }}</td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                {% if download.message %}
<pre class="alert alert-warning">{{ download.message }}{% if download.message == "Waiting for item to download on server" %}
<span class="seconds_left_{{ download.id }}">Time Remaining: <span class='spinner'></span></span>{% endif %}</pre>
                {% endif %}

                {% if downloadgroup.list and downloadgroup.list|length > 1 %}
                    <div class="panel panel-info download-group">
                        <div class="panel-heading arrow-toggle" data-toggle="collapse" data-target="#{{ download.id }}_items">
                            <span><strong>{{ downloadgroup.list|length }} Episodes to download</strong></span>
                            <a class="arrow-toggle icon-arrow-grey pull-right collapsed" data-toggle="collapse" data-target="#{{ download.id }}_items" href="javascript:void(0);">
                                <span class="glyphicon glyphicon-collapse-down icon-arrow-up icon-lg"></span>
                                <span class="glyphicon glyphicon-collapse-up icon-arrow-down icon-lg"></span>
                            </a>
                        </div>
                        <div id="{{ download.id }}_items" class="collapse">
                            <table class="table">
                                <tbody>
                                    {% for download in downloadgroup.list %}
                                        <tr id='item_{{ download.id }}'>
                                            <td>
                                                <b class="ep_title">
                                                    {{ download|get_ep_season }}
                                                </b>
                                            </td>
                                            <td>
                                                {% for quality in download.get_quality %}
                                                     <span class="label label-primary">{{ quality }}</span>
                                                {% endfor %}

                                            </td>
                                            <td>
                                                <button type="button" class="item_approve_{{ download.id }} btn btn-default btn-xs">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </button>
                                                <button type="button" class="item_delete_{{ download.id }} btn btn-default btn-xs">
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="bottom">
                <div class="button-bar btn-group-justified">
                    {% if downloadgroup.list and downloadgroup.list|length > 1 %}
                        <div class="btn-group">
                            <button type="button" class="item_approve_m{{ downloadgroup.grouper }} btn btn-default btn-xl btn-responsive">
                                <span class="glyphicon glyphicon-ok"></span> Approve All
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="item_delete_m{{ downloadgroup.grouper }} btn btn-default btn-xl btn-responsive">
                                <span class="glyphicon glyphicon-remove-circle"></span> Delete All
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="item_ignore_m{{ downloadgroup.grouper }} btn btn-default btn-xl btn-responsive">
                                <span class="glyphicon glyphicon-minus"></span> Ignore
                            </button>
                        </div>
                    {% else %}
                        {% if download.status == 2 %}
                            <div class="btn-group">
                                 <button type="button" class="item_reset_{{ download.id }} btn btn-default btn-xl btn-responsive" data-style="zoom-out">
                                    <span class="glyphicon glyphicon-retweet"></span> Cancel
                                </button>
                            </div>
                        {% endif %}

                        {% if download.status == 6 %}
                            <div class="btn-group">
                                <button type="button" class="item_approve_{{ download.id }} btn btn-default btn-xl btn-responsive">
                                    <span class="glyphicon glyphicon-ok"></span> Approve
                                </button>
                            </div>
                        {% endif %}

                        {% if download.retries > 3 %}
                            <div class="btn-group">
                                <a class="btn btn-default btn-xl btn-responsive" href="{% url "queue.manualfixitem" download.id %}">
                                    <span class="glyphicon glyphicon-wrench"></span> Manually Fix
                                </a>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="item_retry_{{ download.id }} btn btn-default btn-xl btn-responsive">
                                    <span class="glyphicon glyphicon-repeat"></span> Retry
                                </button>
                            </div>
                        {% endif %}

                        {% if download.status != 4 %}
                            <div class="btn-group">
                                <button type="button" class="item_delete_{{ download.id }} btn btn-default btn-xl btn-responsive">
                                    <span class="glyphicon glyphicon-remove-circle"></span> Delete
                                </button>
                            </div>
                        {% endif %}

                        {% if download.status == 6 %}
                            <div class="btn-group">
                                <button type="button" class="item_ignore_{{ download.id }} btn btn-default btn-xl btn-responsive">
                                    <span class="glyphicon glyphicon-minus"></span> Ignore
                                </button>
                            </div>
                        {% endif %}

                        {% if download.status == 1 and download.retries <= 3 %}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xl btn-responsive dropdown-toggle priority" data-toggle="dropdown">
                                Priority:<span class="value">{% if download.priority >= 10 %}
                                        Low
                                    {% elif download.priority >= 5 %}
                                        Medium
                                    {% else %}
                                       High
                                    {% endif %}
                                </span> <span class="caret"></span>
                               </button>
                               <ul class="dropdown-menu" role="menu">
                                  <li><a href="javascript:void(0);" class="item_pri_high_{{ download.id }}">High</a></li>
                                  <li><a href="javascript:void(0);" class="item_pri_medium_{{ download.id }}">Medium</a></li>
                                  <li><a href="javascript:void(0);" class="item_pri_low_{{ download.id }}">Low</a></li>
                               </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if download.status != 6 %}
                        <div class="btn-group hidden-xs">
                            <a href="{% url "queue.log" download.id %}" class="btn btn-default btn-xl btn-responsive"><span class="glyphicon glyphicon-pencil"></span> Log</a>
                        </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
