{% extends "base.html" %}
{% load sitetree %}

{% block title %}{{ type }}{% endblock %}

{% block submenu %}
    <div class="container submenu">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <a href="{% url "queue.index" "downloading" %}"><button spinner="tiny" type="button" class="btn btn-default btn-responsive btn-square {% if type|lower == "downloading" %} active{% endif %}">Downloading<span class="badge">{{ downloading }}</span></button></a>
            </div>
            <div class="btn-group">
                <a href="{% url "queue.index" "queue" %}"><button spinner="tiny" type="button" class="btn btn-default btn-responsive btn-square {% if type|lower == "queue" %} active{% endif %}">Queue<span class="badge">{{ queue }}</span></button></a>
            </div>
            <div class="btn-group">
                <a href="{% url "queue.index" "pending" %}"><button spinner="tiny" type="button" class="btn btn-responsive btn-default btn-square {% if type|lower == "pending" %} active{% endif %}">Pending<span class="badge">{{ pending }}</span></button></a>
            </div>
            <div class="btn-group">
                <a href="{% url "queue.index" "error" %}"><button spinner="tiny" type="button" class="btn btn-default btn-responsive btn-square {% if type|lower == "errors" %} active{% endif %}">Errors<span class="badge">{{ errors }}</span></button></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
        {% if object_list.count > 0 %}
            <form id="formID">
            <div class="media-list">
                {% csrf_token %}
                {% if doregroup %}
                    {% regroup object_list_regroup by tvdbid as object_list_grouped %}
                        {% for downloadgroup in object_list_grouped %}
                            {% if downloadgroup.grouper == None or downloadgroup.list|length == 1%}
                                {% for download in downloadgroup.list %}
                                    {% with downloadgroup=None %}
                                        {% include "queue/downloaditem_detail.html" %}
                                    {% endwith %}
                                {% endfor %}
                            {% else %}
                                {% with download=downloadgroup.list.0 %}
                                   {% include "queue/downloaditem_detail.html" %}
                                {% endwith %}
                            {% endif %}
                       {% endfor %}
                {% else %}
                    {% for download in object_list %}
                        {% include "queue/downloaditem_detail.html" %}
                    {% endfor %}
               {% endif %}
            </div>
            </form>

        {% else %}
            <div><p class="text-center"><strong>No items found with status of {{ type }}</strong></p></div>
        {% endif %}

{% endblock %}
