{% extends "base.html" %}
{% load sitetree %}

{% block title %}{{ type }}{% endblock %}

{% block submenu %}
    {% include "queue/submenu.html" %}
{% endblock %}

{% block content %}
    {% if downloads.object_list.count > 0 %}
        {% if downloads.has_other_pages %}
            <div class="text-center">
                <ul class="pagination btn-responsive">
                    {% if downloads.has_previous %}
                        <li><a href="?{{ downloads.previous_page_number.querystring }}">&lsaquo;&lsaquo;</a></li>
                    {% else %}
                        <li class="disabled"><a>&lsaquo;&lsaquo;</a></li>
                    {% endif %}
                    {% for page in downloads.pages %}
                        {% if page %}
                            {% ifequal page downloads.number %}
                                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li><span class="page-dots">...</span></li>
                        {% endif %}
                    {% endfor %}
                    {% if downloads.has_next %}
                        <li><a href="?{{ downloads.next_page_number.querystring }}">&rsaquo;&rsaquo;</a></li>
                    {% else %}
                        <li class="disabled"><a>&rsaquo;&rsaquo;</a></li>
                    {% endif %}
                </ul>
                </div>
        {% endif %}
        <form id="formID">
        <div class="media-list">

            {% csrf_token %}
            {% if doregroup %}
                {% regroup downloads.object_list by tvdbid as object_list_grouped %}
                    {% for downloadgroup in object_list_grouped %}
                        {% if downloadgroup.grouper == None or downloadgroup.list|length == 1%}
                            {% for download in downloadgroup.list %}
                                {% with downloadgroup=None %}
                                    {% include "queue/downloaditem_detail.html" %}
                                {% endwith %}
                            {% endfor %}
                        {% else %}
                            {% with download=downloadgroup.list.0 %}
                               {% include "queue/downloaditem_detail.html" %}
                            {% endwith %}
                        {% endif %}
                   {% endfor %}
            {% else %}
                {% for download in downloads.object_list %}
                    {% include "queue/downloaditem_detail.html" %}
                {% endfor %}
           {% endif %}
        </div>
        </form>
        {% if downloads.has_other_pages %}
            <div class="text-center">
                <ul class="pagination btn-responsive">
                    {% if downloads.has_previous %}
                        <li><a href="?{{ downloads.previous_page_number.querystring }}">&lsaquo;&lsaquo;</a></li>
                    {% else %}
                        <li class="disabled"><a>&lsaquo;&lsaquo;</a></li>
                    {% endif %}
                    {% for page in downloads.pages %}
                        {% if page %}
                            {% ifequal page downloads.number %}
                                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li><span class="page-dots">...</span></li>
                        {% endif %}
                    {% endfor %}
                    {% if downloads.has_next %}
                        <li><a href="?{{ downloads.next_page_number.querystring }}">&rsaquo;&rsaquo;</a></li>
                    {% else %}
                        <li class="disabled"><a>&rsaquo;&rsaquo;</a></li>
                    {% endif %}
                </ul>
                </div>
        {% endif %}
    {% else %}
        <div><p class="text-center"><strong>No items found with status of {{ type }}</strong></p></div>
    {% endif %}

{% endblock %}
