{% extends "base.html" %}
{% load sitetree %}

{% block title %}{{ type }}{% endblock %}
{% block submenu %}
    {% sitetree_menu from "lazymenu" include "downloads" template "headersubmenu.html" %}
{% endblock %}

{% block content %}
    {% if object %}
        <h3 class="text-center">Manually Fix<div class="center-block text-center"><small>{{ object.title }}</small></div></h3>
           {% load crispy_forms_tags %}
            {% crispy form %}
    {% else %}
        <div class="alert-danger">Unable to find object. Back to <a href="{% url "downloads.index" "error" %}">errors</a></div>
    {% endif %}

{% endblock %}

{% block footer %}
    <script language="javascript" type="text/javascript">
        $( document ).ready(function() {
            $("select[name$='_type']").each(function() {
                id = parseInt($(this).attr("name").toString().replace("_type", ""));
                update_fields(id);
            });
        })
    </script>
{% endblock %}