<div class="container submenu">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <a href="{% url "queue.index" "downloading" %}"><button spinner="tiny" type="button" class="btn btn-default btn-responsive btn-square {% if type|lower == "downloading" %} active{% endif %}">Downloading<span class="badge">{{ downloading }}</span></button></a>
        </div>
        <div class="btn-group">
            <a href="{% url "queue.index" "queue" %}"><button spinner="tiny" type="button" class="btn btn-default btn-responsive btn-square {% if type|lower == "queue" %} active{% endif %}">Queue<span class="badge">{{ queue }}</span></button></a>
        </div>
        <div class="btn-group">
            <a href="{% url "queue.index" "pending" %}"><button spinner="tiny" type="button" class="btn btn-responsive btn-default btn-square {% if type|lower == "pending" %} active{% endif %}">Pending<span class="badge">{{ pending }}</span></button></a>
        </div>
        <div class="btn-group">
            <a href="{% url "queue.index" "error" %}"><button spinner="tiny" type="button" class="btn btn-default btn-responsive btn-square {% if type|lower == "errors" %} active{% endif %}">Errors<span class="badge">{{ errors }}</span></button></a>
        </div>
        <div class="btn-group hidden-xs">
            <a href="{% url "queue.index" "complete" %}"><button spinner="tiny" type="button" class="btn btn-default btn-responsive btn-square {% if type|lower == "complete" %} active{% endif %}">Complete<span class="badge">{{ complete }}</span></button></a>
        </div>
    </div>
</div>