{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h3>Media Server Status ({% if queue_running %}Running{% else %}Stopped{% endif %})</h3>

    <div class="middle">
        <form method="post" id="form">
        {% csrf_token %}
        {% if queue_running %}
            <input type="hidden" name="action" value="stop">
            <input type="submit" value="Stop Queue">
        {% else %}
            <input type="hidden" name="action" value="start">
            <input type="submit" value="Start Queue">
        {% endif %}
        </form>
    </div>

    <div class='stats'>
        <div class='left'>
            <div class='stat'><a href='{% url 'downloads.index' 'downloading' %}'><img src='{{ STATIC_URL }}images/icons/download.jpg'></a>Downloading <strong>{{ downloading }}</strong> items</div>
            <div style='clear:both'></div>
            <div class='stat'><a href='{% url 'downloads.index' 'queue' %}'><img src='{{ STATIC_URL }}images/icons/download_queue.jpg'></a>Queue <strong>{{ queue }}</strong> items</div>
            <div style='clear:both'></div>
            <div class='stat'><a href='{% url 'downloads.index' 'pending' %}'><img src='{{ STATIC_URL }}images/icons/approval.jpg'></a>Waiting Approval (Pending) <strong>{{ pending }}</strong></div>
            <div style='clear:both'></div>
        </div>
        <div class='right'>
            <div class='stat'>
                    <div class='progressbar_10'></div>
                    <div class='middle'><strong>{{ percent_used }}% Used ({{ free_gb }} GB Free)</strong></div>
                <script>doReverseProgressbar(10, {{ percent_used }})</script>
            </div>
            <div style='clear:both'></div>
            <div class='stat'><img src='{{ STATIC_URL }}images/icons/extracting.png'>Extracting <strong>{{ extracting }}</strong></div>
            <div style='clear:both'></div>
            <div class='stat'><a href='{% url 'downloads.index' 'error' %}'><img src='{{ STATIC_URL }}images/icons/error.jpg'></a>Errors: <strong>{{ errors }}</strong></div>
            <div style='clear:both'></div>
        </div>
    </div>

{% endblock %}