<div id="middle-outer">
    <div id="middle-inner">
        <div style="cursor:pointer" class="button">
            <span class="button_post" url="{% url "other.update" "download_torrent" %}">Download</span>
        </div>
        <div style="cursor:pointer" class="button">
            <a href="{% url "other.find.index" %}"><span class="button_page" url="{% url "other.find.index" %}">New Search</span></a>
        </div>
    </div>
</div>

<form id="formID">
{% csrf_token %}
    {% if ftp_results.message %}
        <div class="error">{{ ftp_results.message }}</div>
    {% endif %}

    <div class="show">
        <div class="title">{{ ftp_results|length }} existing matches found on FTP</div>
            {% for ftp_result in ftp_results %}
                <div class="ep selectable">
                    <input role="checkbox" type="checkbox" name="item" value="FTP~{{ ftp_result.path }}">
                         <b>{{ ftp_result.name }}</b>
                </div>
            {% endfor %}
    </div>


    {% if torrent_results.message %}
        <div class="error">{{ torrent_results.message }}</div>
    {% endif %}
    {% for site_dict in torrent_results %}
        <div class="show">
            <div class="title">{{ site_dict.results|length }} matches found on site {{ site_dict.site }}</div>
                {% if site_dict.message %}
                    <div class="error">{{ site_dict.message }}</div>
                {% endif %}
                {% for torrent in site_dict.results %}
                    <div class="ep selectable">
                        <input role="checkbox" type="checkbox" name="item" value="{{ site_dict.site }}~{{ torrent.title }}">
                         <b>{{ torrent.title }}</b> ({{ torrent.size }})
                    </div>
                {% endfor %}

        </div>
    {% endfor %}
</form>