{% extends "base.html" %}
{% load sitetree %}

{% block title %}{{ type }}{% endblock %}
{% block submenu %}
    {% sitetree_menu from "lazymenu" include "other" template "headersubmenu.html" %}
{% endblock %}

{% block content %}
    <h1>{{ type|title }}</h1>
    {% sitetree_menu from "lazymenu" include "this-children" template "buttons.html" %}
    <form action="" method="POST">
      {% csrf_token %}
        <div class="forms">
            {{ form }}
            <input type="submit" name="submit" value="Search" />
        </div>
    </form>
    {% sitetree_menu from "lazymenu" include "this-children" template "buttons.html" %}
{% endblock %}
