{% if titles.count > 0 %}

    <div class="middle pad10">Found {{ titles|length }} ignored titles</div>

    <form id="formID">
    {% csrf_token %}

    {% for title in titles %}

        <div class="config-item selectable">
            <div class="left-col">
            <div style="float:left"><input role="checkbox" type="checkbox" class="item" name="item" value="{{ title.regex }}"></div>
            <div style="clear:both"></div>
            </div>
            <div class="right-col">{{ title.title }}</div>
        </div>
    {% endfor %}

    </form>

{% else %}
    <div class="middle pad10">No ignore titles found</div>
{% endif %}