{% extends "base.html" %}
{% load sitetree %}

{% block title %}{{ type }}{% endblock %}
{% block submenu %}
    {% sitetree_menu from "lazymenu" include "config" template "headersubmenu.html" %}
{% endblock %}

{% block content %}
<h1>Add Show to Approved List</h1>

<form action="" method="POST">
  {% csrf_token %}

    <div class="forms">
        {{ form }}
        <input type="submit" name="submit" value="Save" />
    </div>

</form>


<a href="{% url "config.tvmap.index" %}">back to list</a>
{% endblock %}