{% extends "base.html" %}
{% load sitetree %}

{% block title %}{{ type }}{% endblock %}


{% block submenu %}
{% endblock %}


{% block content %}

    <pre>Queue: {{ queue }}
        Running: {{ queue.queue_running }}
    </pre>

    <pre>DL Threads
    {% for t in queue.download_threads %}

        Active: {{ t.active }}
        Mirror: {{ t.mirror_thread }}
        Mirror_Runnning: {{ t.mirror_thread.isAlive }}
        Curl: {{ t.mirror_thread.m }}

        {% for c in t.mirror_thread.m.handles %}
            c_thread: {{ c.url }}
        {% endfor %}

    {% endfor %}
    </pre>
    <pre>Extractor thread
        Extractor Thread: {{ queue.extractor_thread }}
        Active: {{ queue.extractor_thread.active }}

    </pre>

{% endblock %}