{% extends "base.html" %}
{% load sitetree %}

{% block title %}{{ type }}{% endblock %}

{% block content %}
{% load download_extras %}

<div class="home">
    <div class="row no-border">
        <div class="col-xs-12">
            <div class="progress">
                <div class="progress-bar progress-bar-{{ percent_used|progressbar_color }} active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent_used }}%">
                    <span>
                        {{ percent_used|floatformat:2 }}% Used ({{ free_gb }} GB Free)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-border">
        <div class="col-xs-12">
            {% if queue_running %}
                <div class="btn btn-default btn-full manage-queue" state="started">Stop Queue</div>
            {% else %}
                <div class="btn btn-default btn-full manage-queue" state="stopped">Start Queue</div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12"><a href="{% url "queue.index" "downloading" %}" class="btn-full"><span class="badge">{{ downloading }}</span><strong>Downloading</strong></a></div>
    </div>

    <div class="row">
        <div class="col-xs-12"><a href="{% url 'queue.index' 'queue' %}" class="btn-full"><span class="badge">{{ queue }}</span><strong>In Queue</strong></a></div>
    </div>

    <div class="row">
        <div class="col-xs-12"><a href="{% url 'queue.index' 'pending' %}" class="btn-full"><span class="badge">{{ pending }}</span><strong>Pending Approval</strong></a></div>
    </div>

    <div class="row">
        <div class="col-xs-12"><a href="{% url 'queue.index' 'extract' %}" class="btn-full"><span class="badge">{{ extracting }}</span><strong>Extracting</strong></a></div>
    </div>

    <div class="row">
        <div class="col-xs-12"><a href="{% url 'queue.index' 'error' %}" class="btn-full"><span class="badge">{{ errors }}</span><strong>Errors</strong></a></div>
    </div>

</div>
{% endblock %}