{% load download_extras %}
<div class="row download-item" id="item_m{{ forloop.counter }}" multi="yes">
    <div class='col-md-12'>
        {% if downloadgroup.grouper.posterimg %}
            <img class="poster pull-left" src="{{ downloadgroup.grouper.posterimg.url }}" class="pull-left">
        {% else %}
            <img class="poster pull-left" src="{{ STATIC_URL }}images/noimg.gif" class="pull-left">
        {% endif %}


        <h4>{{ downloadgroup.list.0.title|format_torrent_title }}
            {% if downloadgroup.list.0.imdbid %}
                    <span class="rating">{{ downloadgroup.list.0.imdbid.score }}</span>
                    <small><i>
                        {% if downloadgroup.list.0.imdbid.score %}

                            {% if downloadgroup.list.0.imdbid.votes %}
                                {% load humanize %} {{ downloadgroup.list.0.imdbid.votes|intcomma }} Votes
                            {% endif %}
                        {% endif %}
                    </i></small>
            {% endif %}
                <span class="label-bar">
                    {% if downloadgroup.list.0.tvdbid %}
                        {% if not downloadgroup.list.0.imdbid %}
                            {% for genre in downloadgroup.list.0.tvdbid.get_genres_list %}
                                <span class="label label-warning">{{ genre|title }}</span>
                            {% endfor %}
                        {% endif %}

                        {% for network in downloadgroup.list.0.tvdbid.get_networks %}
                             <span class="label label-default">{{ network|title }}</span>
                        {% endfor %}
                    {% endif %}

                    {% if downloadgroup.list.0.imdbid %}
                         {% for genre in downloadgroup.list.0.imdbid.get_genres %}
                            <span class="label label-warning">{{ genre|title }}</span>
                         {% endfor %}
                    {% endif %}
                </span>
        </h4>

        {% if downloadgroup.list.0.tvdbid.description %}
            {{ downloadgroup.list.0.tvdbid.description}}
        {% else %}
            {% if downloadgroup.list.0.imdbid.description %}
                   {{ downloadgroup.list.0.imdbid.description }}
            {% endif %}
        {% endif %}

        {% if download.status == 4 %}
            <div><b>Extracted and Moved: {{ download.dlstart }}</b></div>
        {% endif %}

        {% if download.message %}
            <div><pre>{{ download.message }}</pre></div>
        {% endif %}

        <div class="multi-items">
            <h5>Episodes to download</h5>
            <table>
                {% for download in downloadgroup.list %}
                    <tr id='item_{{ download.id }}'>
                        <td>
                            <b>
                                Season {{ download.get_season }}
                                {% for ep in download.get_eps %}
                                    ep {{ ep }}
                                {% endfor %}
                            </b>
                        </td>
                        <td>
                            {% if download.get_quality %}
                                {% if download.get_quality == "SD" %}
                                    <span class="label label-success">{{ download.get_quality }}</span>
                                {% else %}
                                    <span class="label label-primary">{{ download.get_quality }}</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <button type="button" class="item_approve_{{ download.id }} btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="item_delete_{{ download.id }} btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="button_bar">
            <div class="pull-left">
                    <button type="button" class="item_approve_m{{ forloop.counter }} btn btn-default btn-xl">
                        <span class="glyphicon glyphicon-ok"></span> Approve All
                    </button>
                    <button type="button" class="item_delete_m{{ forloop.counter }} btn btn-default btn-xl">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete All
                    </button>
                    <button type="button" class="item_ignore_m{{ forloop.counter }} btn btn-default btn-xl">
                        <span class="glyphicon glyphicon-minus"></span> Ignore
                    </button>
            </div>
        </div>

    </div>
</div>