<div class="row">
    <div class='download-item' id='item_{{ download.id }}'>
        <div class='col-md-1'>
            <div style='float:right'>
                {% if download.tvdbid.posterimg %}
                    <a href="http://thetvdb.com/index.php?tab=series&id={{ download.tvdbid.id }}" target="_blank"><img class="poster" src="{{ download.tvdbid.posterimg.url }}" width="180px" height="290px"></a>
                {% else %}
                    {% if download.imdbid.posterimg %}
                        <a href="http://www.imdb.com/title/tt{{ download.imdbid.id }}/" target="_blank"><img class="poster" src="{{ download.imdbid.posterimg.url }}" width="180px" height="290px"></a>
                    {% else %}
                        <img class="poster" src="{{ STATIC_URL }}images/noimg.gif">
                    {% endif %}
                {% endif %}
            </div>
            <div style='clear:both'></div>
        </div>
        <div class='col-md-11'>
            <div class="right-col-container">

                {% with percentComlpete=download.get_percent_complete %}
                    <div class="progressbar"><div class="progressbar_{{ download.id }}"></div>{{ percentComlpete|floatformat:2  }}% Complete ({{ download.get_speed }})</div>
                    <script>doProgressbar({{ download.id }}, {{ percentComlpete }})</script>
                {% endwith %}

                <div class="download-detail">

                    <b>Title:</b> {{ download.title }} {% if download.imdbid.year %}<b>{{ download.imdbid.year }}</b>{% endif %}

                    {% if download.imdbid.score %}
                        <br><b>Score:</b> {{ download.imdbid.score }} {% if download.imdbid.votes %}({{ download.imdbid.votes }} votes){% endif %}
                    {% endif %}


                    {% if download.tvdbid.genres %}
                        <br><b>Genre:</b> {{ download.tvdbid.genres }}
                    {% else %}
                        {% if download.imdbid.genres %}
                               <br><b>Genre:</b> {{ download.imdbid.genres }}
                        {% endif %}
                    {% endif %}

                    {% if download.tvdbid.networks %}
                        <br><b>Networks:</b> {{ download.tvdbid.networks }}
                    {% endif %}

                    <p>
                        {% if download.tvdbid.description %}
                           {{ download.tvdbid.description }}
                        {% else %}
                            {% if download.imdbid.description %}
                                   {{ download.imdbid.description }}
                            {% endif %}
                        {% endif %}
                    </p>
                </div>


                {% if download.onlyget %}
                    <b>Only downloading</b>
                    <div class="multi-items">
                    {% for season,eps in download.onlyget.items %}
                        {% for ep in eps %}
                            <div class="download-item-small">
                            {% if ep == 0 %}
                                <span class="inner">S{{ season }} x ALL</span>
                            {% else %}
                                <span class="inner">S{{ season }} x E{{ ep }}</span>
                            {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    </div>
                {% endif %}

                {% if download.message %}
                    <div class='download-error'><pre>{{ download.message }}</pre></div>
                {% endif %}

                {% if download.status == 4 %}
                    <div><b>Extracted and Moved: {{ download.dlstart }}</b></div>
                {% endif %}

                <div class="error-container"></div>
            </div>
            <div class="item_button_bar">
                <div class="pull-left">
                    {% if download.status == 2 %}
                        <a class="item_reset_{{ download.id }}" href="#"><img class="size-25px" src="{{ STATIC_URL }}images/icons/reset.jpg"/>Reset</a>
                    {% endif %}

                    {% if download.status == 6 %}
                        <a class="item_approve_{{ download.id }}" href="#"><img class="size-25px" src="{{ STATIC_URL }}images/icons/approve.jpg"/>Approve</a>
                    {% endif %}

                    {% if download.status != 4 %}
                        <button type="button" class="item_delete_{{ download.id }} btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    {% endif %}

                    {% if download.status == 6 and download.get_type == 1%}
                        <a class="item_ignore_{{ download.id }}" href="#"><img class="size-25px" src="{{ STATIC_URL }}images/icons/ignore.jpg"/>Ignore</a>
                    {% endif %}
                </div>

                <div class="pull-left">
                   <a class="btn btn-default btn-lg" href="{% url "downloads.log" download.id %}"><span class="glyphicon glyphicon-pencil"></span>Log</a>
                </div>
            </div>
        </div>

    </div>
</div>