{% load sitetree %}

{% if sitetree_items %}
    <div id="middle-outer">
        <div id="middle-inner">

            {% for item in sitetree_items %}
                <div style="cursor:pointer" class="button">
                    {% if item.hint == "button_page" %}
                        <a href="{% sitetree_url for item %}"><span class="{{ item.hint|lower }}" url="{% sitetree_url for item %}">{{ item.title_resolved }}</span></a>
                    {% else %}
                        <span class="{{ item.hint|lower }}" url="{% sitetree_url for item %}">{{ item.title_resolved }}</span>
                    {% endif %}
                </div>

            {% endfor %}
        </div>
    </div>
{% endif %}

