<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/slicknav.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/lazy-mobile.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-mobile.css" />

    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.slicknav.min.js"></script>
    <script src="{{ STATIC_URL }}js/lazy-mobile.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.mobile.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}Download Manager{% endblock %}</title>
</head>


<body>
<div data-role="page">
    <div data-role="header">
  <ul id="menu">
	<li><a class="scroll" href="#features">Features</a></li>
	<li><a class="scroll" href="#usage">Usage Instructions</a></li>
	<li><a class="scroll" href="#examples">Examples</a></li>
	<li><a href="http://github.com">View on Github</a></li>
</ul>
    </div>

    <script>
	$(function(){
		$('#menu').slicknav();
	});
</script>

    <div data-role="content" id="content">
        {% block content %}{% endblock %}
    </div>

    <div data-role="footer">
        <a href="?flavour=full">Full Version</a>
    </div>
</div>

</body>
</html>