<div class='download-item'>
    <div class='left-col'>
        <div style='float:left'><input role='checkbox' type='checkbox' class='item_{{ download.id }}' name='item' value='{{ download.id }}'></div>
        <div style='float:right'>
            {% if download.tvdbid.posterimg %}
               <img src="{{ download.tvdbid.posterimg.url }}">
            {% else %}
                {% if download.imdbid.posterimg %}
                      <img src="{{ download.imdbid.posterimg.url }}">
                {% else %}
                    <img src="{{ STATIC_URL }}images/noimg.gif">
                {% endif %}
            {% endif %}
        </div>
        <div style='clear:both'></div>
    </div>
    <div class='right-col'>
        {% with percentComlpete=download.get_percent_complete %}
            <div class="progressbar"><div class="progressbar_{{ download.id }}"></div>{{ percentComlpete|floatformat:2  }}% Complete</div>
            <script>doProgressbar({{ download.id }}, {{ percentComlpete }})</script>
        {% endwith %}

        <b>Title:</b> {{ download.title }} {% if download.imdbid.year %}<b>{{ download.imdbid.year }}</b>{% endif %}

        {% if download.imdbid.score %}
            <br><b>Score:</b> {{ download.imdbid.score }} {% if download.imdbid.votes %}({{ download.imdbid.votes }} votes){% endif %}
        {% endif %}


        {% if download.tvdbid.genres %}
            <br><b>Genre:</b> {{ download.tvdbid.genres }}
        {% else %}
            {% if download.imdbid.genres %}
                   <br><b>Genre:</b> {{ download.imdbid.genres }}
            {% endif %}
        {% endif %}

        {% if download.tvdbid.networks %}
            <br><b>Networks:</b> {{ download.tvdbid.networks }}
        {% endif %}

        <p>
            {% if download.tvdbid.description %}
               {{ download.tvdbid.description }}
            {% else %}
                {% if download.imdbid.description %}
                       {{ download.imdbid.description }}
                {% endif %}
            {% endif %}
        </p>

        {% if download.onlyget %}
            <div>{{ download.onlyget }}</div>
        {% endif %}


        {% if download.message %}
            <div class='download-error'>{{ download.message }}</div>
        {% endif %}

    </div>
</div>
<div style='clear: both;'></div>