{% load sitetree %}
<div class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Steve Download Manager</a>
        </div>

        <div class="collapse navbar-collapse">
        {% sitetree_menu from "lazymenu" include "trunk" template "sitetree/menu_bootstrap3.html" %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
    {% sitetree_breadcrumbs from "lazymenu" template "breadcrumbs.html" %}
{% if errors %}

    <div class="middle">
        {% for error in lazy_errors %}
            <div class="error">Error: {{ error }}</div>
        {% endfor %}
    </div>

{% endif %}

