        <form id="formID">
            {% csrf_token %}
            {% for job in object_list %}
                <div class="download-item">
                    <div class="left"><input role="checkbox" type="checkbox" name="item" value="{{ job.id }}"></div>
                    <div class="job-title">{{ job.title }}</div>
                    <div class="job-overview">
                    {% if job.finishdate %}(Job Finished){% else %}(Job still running){% endif %}
                    <br><a href="{% url "other.jobs.get" job.id %}"><span>Open</span></a>
                    </div>
					    <br><b>Started:</b> {{ job.startdate }}
                        <br><b>Finished:</b> {{ job.finishdate }}
                </div>
            {% endfor %}
        </form>