pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.season-all-exists {
	background-color:green;
}

.missing-all-season {
		background-color:red;
}

.ep-didnt-find {
	background-color:red;
}

.job-overview {
	font-size: 90%;
	color: red;
	margin-bottom: 30px;
	text-align: center;
}

.job-title {
	font-size: 200%;
	color: red;
	text-align: center;
	margin-bottom: 4px;
}

.ep-found-download {
	background-color:yellow;
}

.ep-found {
	background-color:green;
}

.downloading-season{
	background-color:yellow;
}


.returnmsg {
	display: inline-block;
	width: 100%;
}

.seasontitle {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 3px;
}

.season {
	border:2px solid;
	border-radius:4px;
	padding: 15px;
	margin: 25px;
	position:relative;
	overflow:hidden;
	width: 170px;
	float: left;
	text-align: center;
	font-size: 150%;
}

.ep {
	margin: 10px;
	font-size: 80%;
}

.show {
	border:2px solid;
	border-radius:40px;
	padding: 15px;
	margin: 25px;
	position:relative;
	overflow:hidden;
}

.show .title {
	font-size: 200%;
	color: red;
	text-align: center;
	margin-bottom: 4px;
}

.ep {
	margin: 10px;
	font-size: 80%;
}

/* config item */
.config-item {
	border:2px solid;
	border-radius:40px;
	padding: 15px;
	margin: 25px;
	position:relative;
	font-size: 180%;
	text-align: left;
	overflow:hidden;
}

.config-item img {
	margin-right: 10px;
	margin-left: 5px;
	width: 60px;
}


.config-item .left-col {
	min-height: 45px;
	vertical-align:text-top;
	float: left;
	width: 95px;
}

.smalltxt {
	font-size: 60%;
	padding: 20px;
}


.stat {
	margin: 10px 5px 10px 5px;
	height: 80px;
	line-height: 80px;
}

.stat .middle {
	font-size: 90% !important;
	line-height: 20px;
}

.stat img {
	height: 80px;
	display: block;
	float:left;
	padding-right: 15px;
}

.stats .left {
	width: 600px;	
}

.stats .right {
	width: 300px;
}


h3 {
	font-size: 160% !important;
	text-align: center !important;
	color: red !important;
}


.stats {
	border:2px solid;
	border-radius:40px;
	padding: 15px;
	width: 900px;
	position:relative;
	overflow:hidden;
	margin:0 auto;
}


.returnmsg .inner {
	display: inline-block;
	border:2px solid;
	border-radius:4px;
	border-color: green;
	padding: 4px;
	width: 700px;
	margin: 0 auto;
}

#footer {
    font-size:1.1em;
}

/*  
  HEADER STUFF
 */
#head-panel {
	background:#525252;
}

#head-panel h1 {
	margin:0;
	text-decoration:none;
	padding-left:1.3em;
	font-size:2.6em;
	color: red;
	border-style:none;
}
#head-panel #head-logo {
	float:left;
	margin:5px 0 -15px 5px;
	padding:0;
	overflow:visible;
}

#head-menu {
	background:transparent url(../images/tabs-border-bottom.png) 0 100% repeat-x;
	width:100%;
	float:left;
	margin:0;
	padding:0;
	padding-top:0.8em;
}
#head-menu ul {
	list-style:none;
	margin:0 1em 0 2em;
}
#head-menu ul li {
	float:left;
	margin:0;
	margin-left:0.3em;
	font-size:14px;
	margin-bottom:4px;
}
#head-menu ul li.selected, #head-menu ul li:hover {
	margin-bottom:0px;
}
#head-menu ul li a img {
	height:22px;
	width:22px;
	vertical-align:middle;
}
#head-menu ul li a, #head-menu ul li a:link {
	float:left;
	text-decoration:none;
	color:#555;
	background:#eaeaea url(../images/tab-background.png) 0 100% repeat-x;
	padding:3px 7px 3px 7px;
	border:2px solid #ccc;
	border-bottom:0px solid transparent;
	padding-bottom:3px;
	-moz-border-radius:5px;
	border-radius:5px;
}
#head-menu ul li a:hover, #head-menu ul li a:focus {
	color:#111;
	padding-bottom:7px;
	border-bottom:0px none transparent;
	outline:none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-bottomleft:0px;
}
#head-menu ul li a:focus {
	margin-bottom:-4px;
}
#head-menu ul li.selected a {
	color:#3566A5;
	background:#fff;
	padding-bottom:7px;
	border-bottom:0px none transparent;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-bottomleft:0px;
}
#head-menu ul li.selected a:hover, #head-menu ul li.selected a:focus {
	color:#111;
}

/*  
  GENERAL SETTINGS
 */

body {
	margin:0;
	padding:0;
	background-color:white;
	color:black;
	font-size:12px;
	font-family:Verdana, Helvetica, "Lucida Grande", Lucida, Arial, sans-serif;
	font-family:sans-serif;
	font-size:96%;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}

hr {
	border-width:0;
	border-bottom:1px #aaa dotted;
}
img {
	border:none;
}
form {
	margin:0px;
	padding:0px;
	border:none;
	display:inline;
	background:transparent;
}
ul li {
	margin:5px;
}

div#body-wrapper {
	padding:40px 40px 10px 40px;
	font-size:127%;
}
div#content {
	margin-top:-20px;
	padding:0;
	font-size:14px;
	color:black;
	line-height:1.5em;
}

h1, h2, h3, h4, h5, h6 {
	background:transparent none repeat scroll 0 0;
	border-bottom:1px solid #aaa;
	color:black;
	font-weight:normal;
	margin:0;
	padding:0;
	padding-bottom:0.17em;
	padding-top:0.5em;
	margin-bottom: 20px;
}
h1 {
	font-size:188%;
	line-height:1.2em;
	margin-bottom:0.1em;
	padding-bottom:0;
}
h2 {
	font-size:150%;
}
h3, h4, h5, h6 {
	border-bottom:none;
	font-weight:bold;
}
h3 {
	font-size:132%;
}
h4 {
	font-size:116%;
}
h5 {
	font-size:100%;
}
h6 {
	font-size:80%;
}


/*  
  SUB MENU STUFF
 */
ul#page-actions2 {
	float:left;
	margin:10px 10px 0 10px;
	padding:6px;
	color:black;
	background-color:#ececec;
	list-style-type:none;
	border-radius:5px;
	-moz-border-radius:5px;
}
ul#user-actions2 {
	padding:5px;
	margin:0;
	display:inline;
	color:black;
	background-color:#ececec;
	list-style-type:none;
	border-radius:3px;
	-moz-border-radius:3px;
}
ul#page-actions2 li, ul#user-actions2 li {
	display:inline;
}
ul#page-actions2 a, ul#user-actions2 a {
	text-decoration:none;
	color:black;
	display:inline;
	margin:0 3px;
	padding:2px 0px 2px 18px;
}
ul#page-actions2 a:hover, ul#page-actions2 a:focus, ul#user-actions2 a:hover, ul#user-actions2 a:focus,
ul#page-actions-more a:hover, ul#page-actions-more a:focus{
	color: #4e7bb4;
}

.right {
	float: right;
}

.left {
	float: left;
}


.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

div.button {
    background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
    text-decoration: none;
}

div.button span, div.button span a {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
    text-decoration: none;
    color:black;
}

.highlight {
	background-color: yellow;
}

/*
 * Progress Bar
 */
.progressbar {
	float: right;
	text-align: center;
	font-size: 80%;
	font-weight:bold;
}

.ui-progressbar {
	width:300px;
	height: 30px;
	line-height: 22px; 
	text-align: center;
}

.ui-progressbar div {
	height: 30px;
	background: none; !important

}
.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;

}


/* download stuff */

.download-item-small .inner {
	border:1px solid;
	border-radius:4px;
	border-color: green;
	padding: 2px;
}

.download-item-small {
	display: block;
	margin: 8px; 
	width: 100%;
}

.download-item {
	border:2px solid;
	border-radius:40px;
	padding: 15px;
	margin: 25px;
	position:relative;
	overflow:hidden;
}

.download-item img {
	margin-right: 10px;
	margin-left: 5px;
	width: 150px;
}


.progressbar-small {
	width: 200px;
	height: 20px;
}

.download-error, .error {
	background-color: yellow;
	color: red;
	border:1px solid;
	border-radius:5px;
	padding: 1px;
	margin: 3px;
	position:relative;
	overflow:hidden;
	font-size: 120%;
	display: inline-block;
}

.download-item .left-col {
	min-height: 190px;
	vertical-align:text-top;
	float: left;
	width: 185px;
}

.download-item-small {

}

#middle-outer {
	width: 100%;
	padding: 10px;
    text-align: center;
}

#middle-inner {
     display: inline-block;
}

.multi-items {
	font-size: 120%;
}
.multi-items span {
	font-size: 100%;
}

.middle {
	text-align: center;
	font-weight:bold;
}

.font-130 {
    font-size: 130%;
}

.font-50 {
    font-size: 50%;
}


.pad10 {
	padding: 10px;
}

.largetxt {
	font-size:240%;
	
}

#loading {
	width: 70px;
  position: absolute;
	background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);    /* Older Gecko browser */
  -ms-transform: translate(-50%, -50%);     /* IE9+ */
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	z-index : 1;
}

/* loading bar */
/* loading  bars */
#floatingBarsG{
	position:relative;
	width:64px;
	height:80px
}

.blockG{
	position:absolute;
	background-color:#F0F0F0;
	width:10px;
	height:25px;
	-moz-border-radius:9px 9px 0 0;
	-moz-transform:scale(0.4);
	-moz-animation-name:fadeG;
	-moz-animation-duration:1.1199999999999999s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-webkit-border-radius:9px 9px 0 0;
	-webkit-transform:scale(0.4);
	-webkit-animation-name:fadeG;
	-webkit-animation-duration:1.1199999999999999s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-ms-border-radius:9px 9px 0 0;
	-ms-transform:scale(0.4);
	-ms-animation-name:fadeG;
	-ms-animation-duration:1.1199999999999999s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-o-border-radius:9px 9px 0 0;
	-o-transform:scale(0.4);
	-o-animation-name:fadeG;
	-o-animation-duration:1.1199999999999999s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	border-radius:9px 9px 0 0;
	transform:scale(0.4);
	animation-name:fadeG;
	animation-duration:1.1199999999999999s;
	animation-iteration-count:infinite;
	animation-direction:linear;
}

#rotateG_01{
	left:0;
	top:29px;
	-moz-animation-delay:0.41999999999999993s;
	-moz-transform:rotate(-90deg);
	-webkit-animation-delay:0.41999999999999993s;
	-webkit-transform:rotate(-90deg);
	-ms-animation-delay:0.41999999999999993s;
	-ms-transform:rotate(-90deg);
	-o-animation-delay:0.41999999999999993s;
	-o-transform:rotate(-90deg);
	animation-delay:0.41999999999999993s;
	transform:rotate(-90deg);
}

#rotateG_02{
	left:8px;
	top:10px;
	-moz-animation-delay:0.5599999999999999s;
	-moz-transform:rotate(-45deg);
	-webkit-animation-delay:0.5599999999999999s;
	-webkit-transform:rotate(-45deg);
	-ms-animation-delay:0.5599999999999999s;
	-ms-transform:rotate(-45deg);
	-o-animation-delay:0.5599999999999999s;
	-o-transform:rotate(-45deg);
	animation-delay:0.5599999999999999s;
	transform:rotate(-45deg);
}

#rotateG_03{
	left:27px;
	top:3px;
	-moz-animation-delay:0.7s;
	-moz-transform:rotate(0deg);
	-webkit-animation-delay:0.7s;
	-webkit-transform:rotate(0deg);
	-ms-animation-delay:0.7s;
	-ms-transform:rotate(0deg);
	-o-animation-delay:0.7s;
	-o-transform:rotate(0deg);
	animation-delay:0.7s;
	transform:rotate(0deg);
}

#rotateG_04{
	right:8px;
	top:10px;
	-moz-animation-delay:0.8399999999999999s;
	-moz-transform:rotate(45deg);
	-webkit-animation-delay:0.8399999999999999s;
	-webkit-transform:rotate(45deg);
	-ms-animation-delay:0.8399999999999999s;
	-ms-transform:rotate(45deg);
	-o-animation-delay:0.8399999999999999s;
	-o-transform:rotate(45deg);
	animation-delay:0.8399999999999999s;
	transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:29px;
	-moz-animation-delay:0.9799999999999999s;
	-moz-transform:rotate(90deg);
	-webkit-animation-delay:0.9799999999999999s;
	-webkit-transform:rotate(90deg);
	-ms-animation-delay:0.9799999999999999s;
	-ms-transform:rotate(90deg);
	-o-animation-delay:0.9799999999999999s;
	-o-transform:rotate(90deg);
	animation-delay:0.9799999999999999s;
	transform:rotate(90deg);
}

#rotateG_06{
	right:8px;
	bottom:7px;
	-moz-animation-delay:1.1199999999999999s;
	-moz-transform:rotate(135deg);
	-webkit-animation-delay:1.1199999999999999s;
	-webkit-transform:rotate(135deg);
	-ms-animation-delay:1.1199999999999999s;
	-ms-transform:rotate(135deg);
	-o-animation-delay:1.1199999999999999s;
	-o-transform:rotate(135deg);
	animation-delay:1.1199999999999999s;
	transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:27px;
	-moz-animation-delay:1.26s;
	-moz-transform:rotate(180deg);
	-webkit-animation-delay:1.26s;
	-webkit-transform:rotate(180deg);
	-ms-animation-delay:1.26s;
	-ms-transform:rotate(180deg);
	-o-animation-delay:1.26s;
	-o-transform:rotate(180deg);
	animation-delay:1.26s;
	transform:rotate(180deg);
}

#rotateG_08{
	left:8px;
	bottom:7px;
	-moz-animation-delay:1.4s;
	-moz-transform:rotate(-135deg);
	-webkit-animation-delay:1.4s;
	-webkit-transform:rotate(-135deg);
	-ms-animation-delay:1.4s;
	-ms-transform:rotate(-135deg);
	-o-animation-delay:1.4s;
	-o-transform:rotate(-135deg);
	animation-delay:1.4s;
	transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#FF0000}

100%{
background-color:#F0F0F0}

}

@-webkit-keyframes fadeG{
0%{
background-color:#FF0000}

100%{
background-color:#F0F0F0}

}

@-ms-keyframes fadeG{
0%{
background-color:#FF0000}

100%{
background-color:#F0F0F0}

}

@-o-keyframes fadeG{
0%{
background-color:#FF0000}

100%{
background-color:#F0F0F0}

}

@keyframes fadeG{
0%{
background-color:#FF0000}

100%{
background-color:#F0F0F0}

}

