/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* ####### */
/* General */
/* ####### */

body {
    color: #777;
}

.full-width {
    width: 100%;
}

.small-text {
    font-size: 70%;
}

@media (min-width: 768px) {
    .small-text {
        font-size: 75%;
    }
}

.row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.table {
    margin-bottom: 0px;
}

.text-yellow {
    color: #F5ED2C;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.spinner {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 10px;
}
/* Error messages */
#message {
    display: box;
    flex-align: center;
    flex-pack: center;
    position: fixed;
    top: 250px;
    left: 0;
    width: 100%;
    z-index:99;
}

#inner-message {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 5px;
    padding: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.no-border {
    border: 0px !important;
}

/* TVShows */
.tvshow .panel {
    margin-top: 20px;
}

/* ##### */
/* Forms */
/* ##### */

.asteriskField {
    displasy: none;
}

.input-sm {
    max-width: 200px;
}

.input-md {

}

/* ##### */
/* Icons */
/* ##### */

.arrow-toggle .icon-arrow-down,
.arrow-toggle.collapsed .icon-arrow-up {
    display: inline-block;
}
.arrow-toggle.collapsed .icon-arrow-down,
.arrow-toggle .icon-arrow-up {
    display: none;
}

.icon-arrow:link {
    color: #ffffff;
}

.icon-arrow:visited {
    color: #ffffff;
}

.icon-arrow:hover {
    color: #f5f5f5;
}

.icon-arrow:active {
    color: #ffffff;
}

.icon-arrow-grey:link {
    color: grey;
}

.icon-arrow-grey:visited {
    color: grey;
}

.icon-arrow-grey:hover {
    color: #9a9a9a;
}

.icon-arrow-grey:active {
    color: #9a9a9a;
}

.icon-lg {
    font-size: 30px;
}

.arrow-toggle span {
    line-height: 20px;
}

.arrow-toggle {
    text-decoration: none;
}

/* ###### */
/* Cleanup */
/* ###### */

.cleanup .panel-heading {
    padding-left: 8px;
}

.cleanup .button-bar {
    border-top: 1px solid #ddd;
    padding-top: 3px;
}

.cleanup .spinner {
    height: 8px;
}

.cleanup .size {
    float: right;
    padding-top: 5px;
    font-weight: bold;
}

.cleanup .result {
    width: 100%;
}

/* ###### */
/* Search */
/* ###### */

.search .lead {
    padding: 10px;
    font-size: 95%;
}

.search .result {
    font-size: 70%;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    padding-left: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.search .icon a {
    text-decoration: none;
    color: gray;
}

.search .icon a:link {
    color: #D9EDF7;
    text-decoration: none;
}

.search .icon a:visited {
    color: #D9EDF7;
}

.search .icon a:hover {
    color: #31708f;
}

.search .icon a:active {
    color: #D9EDF7;
}

.search .icon {
    font-size: 30px;
    max-width: 34px;
}

.search-item .rating-star {
    height: 22px;
    width: 22px;
    background-size: 18px 18px;
}


/* ######## */
/* Buttons */
/* ######## */

.button-bar {
    padding-bottom: 5px;
}

.btn-text {
    padding-right: 3px;
    padding-left: 3px;
}

.full-width span i {
  margin-right: 10px;
}

.btn-responsive {
    padding:6px 0px 6px 0px;
    font-size: 10px;
}

.btn-full .badge {
    margin-right: 10px;
    height: 20px;
    vertical-align: middle;
    min-width: 40px;
}

.btn-square {
    border-radius: 0;
}

.btn-full {
    background: transparent;
    display: block;
    padding: 10px 20px 10px 10px;
    position: relative;
    font-size: 20px;
    width: 100%;
}

.btn-full:after {
    background-image: url(/static/images/icons/chevron-right.png);
    background-size: 17px;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    height: 36px;
    left: 0;
    margin: auto 7px auto auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
}


/* ######### */
/* Home Page */
/* ######### */

.home, .home a {
    float: none;
    max-width: 550px;
    margin: 0 auto;
    color: #777;
    font-weight: bolder;
}

.home .progress {
    margin-top: 20px;
}

.home hr {
    border: 3px solid #eee;
}

.home .row {
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 3px solid #eee;
    margin-top: 5px;
}


/* ############ */
/* Sign in Form */
/* ############ */

.form-signin h3 {
    margin-top: 0px;
    font-size: 110%;
    color: #777;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* ########## */
/* Manual Fix */
/* ########## */


/* ###################### */
/* Download Items (Queue) */
/* ###################### */

.download-item .progress-text {
    float: left;
    min-width: 240px;
    color: #a74d58;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}

.download-item pre {
    white-space: pre-wrap;
}

.download-item {
    background-color: white;
}

.download-item .description {
    margin-bottom: 10px;
}

.download-item h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.download-item hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* ##### */
/* Items */
/* ##### */

.row-item {
    border-top: 15px solid #eee;
    padding: 5px;
}


.label-bar {
    display: block;
    font-size: 70%;
}

.label-bar .label {
    display: inline-block;
    margin-bottom: 3px;
    margin-top: 5px;
}

.rating {
    display: inline-block;
}

.rating-star {
    background-image: url(/static/images/icons/star.png);
    background-size: 29px 26px;
    height: 28px;
    width: 28px;
    display: inline-block;
    background-repeat: no-repeat;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 31px;
    zoom: 1
}


/* Default styles first then media queries */
@media screen and (max-width: 699px)  {
    .container.header {
        background-color: white;
    }
    .container {
        padding: 0px;
        margin-bottom: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .container.submenu {
        padding-bottom: 10px;
    }

    .container.body {
        padding-bottom: 10px;
    }

    [class^="col-"] {
      padding-left: 4px;
      padding-right: 4px;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }


    /* Download Items */
    .download-item .poster {
        max-width: 70px;
        padding-right: 10px;
        float: left;
    }

    .download-item .poster img {
        max-width: 60px;
        max-height: 70px
    }

    .download-item .multi-items table tr td {
        padding-right: 7px;
    }

    .download-item h4 {
        margin-top: 0px;
        min-height: 70px;
    }

    .download-item .download-group {
        margin-top: 10px;
        font-size: 80%;
    }
    .download-item .top {
        min-height: 220px;
    }
    .download-item .btn-group button {
        border-radius: 0px;
    }

    /* Search */
    .search .size {
        float: right;
        padding-top: 5px;
        font-weight: bold;
    }

    /* search items */
    .search-item .poster {
        max-width: 80px;
        vertical-align: top;
        padding-right: 10px;
        float: left;
    }

    .search-item h4 {
        margin-top: 0px;
    }

    .search-item .detail {
    }

    /* tvshows */
    .tvshow h4 {
        min-height: 0;
    }

    .tvshow .top {
        min-height: 70px;
    }
}

@media screen and (min-width: 700px)  {
    /* error messages */
    #inner-message {
        padding: 25px;
        width: 600px;
    }

    /* General */
    body { background-color: grey; }

    .badge {
        margin-left: 5px;
    }

    .container.submenu {
        padding-bottom: 10px;
    }

    .container.header {
        background-color: grey;
        padding-right: 0px;
        padding-left: 0px;
    }

    .container.body {
        min-height: 330px;
        padding-bottom: 10px;
    }

    .container {
        border-radius: 5px;
        background-color: white;
        padding-top: 10px;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }

    /* icons */
    .icon-lg {
        font-size: 25px;
    }

    /* search */
    .search .result {
        font-size: 75%;
        padding-left: 15px;
    }
    .search .icon {
        font-size: 25px;
        max-width: 27px;
    }

    /* buttons */
    .btn-responsive {
        padding:6px 12px 6px 12px;
        line-height: 20px;
        font-size: 14px;
    }

    /* search items */
    .search-item .poster {
        max-width: 120px;
        display: table-cell;
        vertical-align: top;
        padding-right: 10px;
    }

    .search-item .detail {
        display: table-cell;
    }

    .search-item .title {
        margin-top: 0px;
        vertical-align: top;
    }
    
    /* Download Items */
    .download-item {
        display: table;
    }

    .download-item .top {
        min-height: 220px;
    }

    .download-row {
        display: table-row;
    }

    .download-item .poster {
        width: 180px;
        display: table-cell;
        vertical-align: top;
        padding-right: 10px;
    }

    .download-item .detail {
        display: table-cell;
        vertical-align: top;
    }

    .download-item .poster img {
        max-width: 180px;
    }

    .download-item .progress {
        width: 40%;
    }

    .download-item .download-group {
        max-width: 300px;
        margin-top: 10px;
    }

    .download-item .btn-group {
        padding-left: 3px;
        padding-right: 3px;
    }

    /* Items */
    .progress-text {
        margin-left: 10px;
    }

    .row-item {
        border-radius: 10px;
        border: 2px solid #eee;
        margin: 0px 20px 10px 10px;
    }

    /* Search */
    .search .size {
        float: right;
    }

    .tvshow.search-item .button-bar {
        padding-top: 10px
    }
}

@media screen and (min-width: 1000px) {
    /*Label bars*/
    .label-bar {
        font-size: 85%;
    }

    /* Download Items */
    .download-item .progress {
        width: 30%;
    }
}

@media screen and (min-width: 1400px) {

}