/* download stuff */
.season-all-exists {
	background-color:green;	
}

.missing-all-season {
		background-color:red;
}

.ep-didnt-find {
	background-color:red;
}

.ep-found-download {
	background-color:yellow;
}

.ep-found {
	background-color:green;
}

.downloading-season{
	background-color:yellow;
}
.red {
	color:red;
}

.green {
	color:green;	
}

.black {
	color:black;	
}

.show {
	border:2px solid;
	border-radius:40px;
	padding: 15px;
	margin: 25px;
	position:relative;
	overflow:hidden;
}

.title {
	font-size: 200%;
	color: red;
	text-align: center;
	margin-bottom: 4px;
}

.fatal {
	font-size: 150%;
	text-align: center;

}

.middle {
	text-align: center;
}

.missing-all {
	font-size: 90%;
	color: red;
}

.seasonTitle {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 3px;
}

.overview {
	font-size: 90%;
	color: red;
	margin-bottom: 30px;
	text-align: center;
}

.season {
	border:2px solid;
	border-radius:4px;
	padding: 15px;
	margin: 25px;
	position:relative;
	overflow:hidden;
	width: 170px;
	float: left;
	text-align: center;
	font-size: 150%;
}

.ep {
	margin: 10px;
	font-size: 80%;
}

.download-item img {
	margin-right: 10px;
	margin-left: 5px;
	width: 150px;
}

.download-item-small {
	border:1px solid;
	border-radius:5px;
	padding: 1px;
	margin: 3px;
	position:relative;
	overflow:hidden;
	font-size: 70%;
	display: block;
	max-width: 290px;
}

.progressbar-small {
	width: 200px;
	height: 20px;
}

.download-error {
	background-color: yellow;
	color: red;
	border:1px solid;
	border-radius:5px;
	padding: 1px;
	margin: 3px;
	position:relative;
	overflow:hidden;
	font-size: 120%;
	display: inline-block;
}

.download-item .left-col {
	min-height: 190px;
	vertical-align:text-top;
	float: left;
	width: 185px;
}

