<div class="modal fade" id="ignoreModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"><span class="tvshow_title bold"></span></h4>
            </div>
            <div class="modal-body">
                <h4>You have chosen to ignore this show. Would you like to remove all the epsiodes related to this show?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger tvshow_delete_all" spinner="tiny" data-dismiss="modal"><span class="btn-text">Delete</span></button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Keep</button>
        </div>
    </div>
  </div>
</div>