{% extends "base.html" %}
{% load sitetree %}

{% block title %}{{ type }}{% endblock %}
{% block submenu %}
{% endblock %}

{% block content %}
<div class="text-center">
    <h3>{{ object.title|title }}<br/><small>Fix missing epsiodes log</small></h3>
    <a class="btn btn-primary" href="{% url 'manage.tvshow.detail' object.id %}">Back</a>
</div>
<hr/>

<pre style="max-height: 300px">

    <table>

    {% for log in object.downloadlog_set.all %}
        <tr>
            <td><strong>{{ log.date }}</strong></td>
            <td>{{ log.message }}</td>
        </tr>

    {% endfor %}

    </table>
</pre>

{% endblock %}
