{% extends "base.html" %}
{% load sitetree %}

{% block title %}{{ type }}{% endblock %}
{% block submenu %}
    {% include "manage/tvshows/submenu.html" %}
{% endblock %}


{% block content %}
{% load download_extras %}
<div class="manage-tvshow">
    <hr/>

    <h1 class="text-center">Comming Soon</h1>
    <table>
    {% load tz %}
    {% localtime on %}
    {% for show in shows %}
        <tr>
            <td>{{ show.title }}</td>
            <td>{{ show.next_ep.season }}x{{ show.next_ep.epsiode }}</td>
            <td>{{ now }}{{ show.next_ep.aired|timeuntil2 }}</td>
        </tr>

    {% endfor %}
    {% endlocaltime %}

    </table>
</div>
{% endblock %}
