<div class="container submenu">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <a href="?show=approved"><button type="button" class="btn btn-default btn-responsive btn-square" spinner="tiny">Show Favorites</button></a>
        </div>
        <div class="btn-group">
            <a href="?show=ignored"><button type="button" class="btn btn-default btn-responsive btn-square" spinner="tiny">Show Ignored</button></a>
        </div>
        <div class="btn-group">
            <a href="?show=ended"><button type="button" class="btn btn-default btn-responsive btn-square" spinner="tiny">Show Ended</button></a>
        </div>
        <div class="btn-group">
            <a href="{% url "manage.tvshows.schedule" %}"><button type="button" class="btn btn-default btn-responsive btn-square" spinner="tiny">TV Schedule</button></a>
        </div>
        <div class="btn-group">
            <a href="?show=cleanup"><button type="button" class="btn btn-default btn-responsive btn-square" spinner="tiny">Auto Cleanup</button></a>
        </div>
    </div>
</div>
