{% with missing=object.get_missing_details %}
<form id="fixmissing-form">
    <div class="panel panel-info">
        <div class="panel-heading">Show Missing Epsiodes</div>
        <div class="panel-body">
            {% if object.fix_report %}
                {% if object.fix_job_running %}
                    <p class="alert alert-warning">Still searching for missing epsiodes, please see results above</p>
                {% else %}
                    <p class="alert alert-success">Finished searching for missing epsiodes, please see results above</p>
                {% endif %}
            {% else %}
                <p>The following epsiodes are missing. Check the epsiodes you want and click fix and the media server will try and find them</p>
            {% endif %}
        </div>
            {% if missing %}
                <ul class="nav nav-tabs" role="tablist">
                    {% for season, eps in missing.items %}
                        <li {% if forloop.first %}class="active"{% endif %} class="">
                            <a href="#missing_season{{ season }}" role="tab" data-toggle="tab">{% if flavour == "mobile" %}S{% else %}Season{% endif %} {{ season }}
                                <span class="badge">{{ eps|length }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for season, eps in missing.items %}
                        <div class="tab-pane {% if forloop.first %}active{% endif %}" id="missing_season{{ season }}">
                            <table class="table table-striped table-responsive table-hover">
                                <thead>
                                    <tr>
                                        <td><input type="checkbox" class="select_all_missing"></td>
                                        <td>Ep</td>
                                        <td style="width: 100%;">Name</td>
                                        <td></td>
                                        <td>Air Date</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ep in eps %}
                                        <tr>
                                            <td>{% if not ep.downloading %}<input type="checkbox" name="{{ season }}" value="{{ ep.epsiode }}">{% endif %}</td>
                                            <td>{{ ep.epsiode }}</td>
                                            <td>{{ ep.title }}</td>
                                            <td>{% if ep.downloading %}<span class="label label-primary">Downloading</span>{% endif %}</td>
                                            <td class="text-nowrap">{{ ep.aired|date:"D d M Y" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
                <div class="button-bar text-center">
                    <div class="btn-group">
                        <button href="" type="button" class="btn btn-primary btn-xl btn-responsive fix_missing">
                           <span class="btn-text">Fix Selected</span>
                        </button>
                    </div>
                </div>
            {% else %}
                None missing
            {% endif %}
        </div>
    </div>
</form>
{% endwith %}