{% for ep_no, status in season_report.eps.items %}
    {% if status == "ep_missing" %}
        <div class="ep-didnt-find">Missing {{ season_no }}X{{ ep_no }}</div>
    {% endif %}

    {% if status == "downloading_from_ftp" %}
        <div class="ep-found">Downloading from FTP {{ season_no }}X{{ ep_no }}</div>
    {% endif %}

    {% if status == "ep_already_processed" %}
        <div class="ep-found">Found {{ season_no }}X{{ ep_no }}</div>
    {% endif %}

    {% if status == "didnt_find_ep" %}
        <div class="ep-didnt-find">Didn't find {{ season_no }}X{{ ep_no }}</div>
    {% endif %}

    {% if status == "found_ep" %}
        <div class="ep-found">Found {{ season_no }}X{{ ep_no }}</div>
    {% endif %}

    {% if status == "found_ep_torrent" %}
        <div class="ep-found">Found via Torrent {{ season_no }}X{{ ep_no }}</div>
    {% endif %}

    {% if status == "failed_ep" %}
        <div class="ep-didnt-find">FAILED {{ season_no }}X{{ ep_no }}</div>
    {% endif %}

    {% if status == "already_in_queue" %}
        <div class="ep-found">ALREADY IN QUEUE {{ season_no }}X{{ ep_no }}</div>
    {% endif %}

{% endfor %}