{% extends "base.html" %}
{% load sitetree %}

{% block title %}{{ type }}{% endblock %}
{% block submenu %}
{% endblock %}


{% block content %}
{% load download_extras %}
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-12">
        {% load crispy_forms_tags %}
        <div class="text-center">
            {% crispy form %}
        </div>
    </div>
</div>
<hr/>
<div class="row search">
    <div class="col-md-8 col-md-offset-2 col-xs-12 search">

    {% if ftp_results or torrent_results %}
        <p class="text-center"><strong>Click the down arrow, on the left, to download the movie or tvshow</strong></p>
    {% endif %}

    {% if ftp_results %}
        {% if ftp_results.message %}
            <div class="panel-body">
                <p class="alert alert-danger">{{ ftp_results.message }}</p>
           </div>
        {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading arrow-toggle" data-toggle="collapse" data-target="#ftp">
                <span><strong>Found {{ ftp_results.results|length }} existing matches</strong></span>
                <a class="arrow-toggle icon-arrow pull-right" data-toggle="collapse" data-target="#ftp" href="javascript:void(0);">
                    <span class="glyphicon glyphicon-collapse-up icon-arrow-up icon-lg"></span>
                    <span class="glyphicon glyphicon-collapse-down icon-arrow-down icon-lg"></span>
                </a>
            </div>
            <div id="ftp" class="collapse in">

                    {% if ftp_results.results %}
                        <table class="table">
                            {% for ftp_result in ftp_results.results %}
                                <tr>
                                    <td class="icon"><a class="glyphicon glyphicon-download add-download" site="ftp" torrent="{{ ftp_result.path }}" href="javascript:void(0);"></a></td>
                                    <td class="result">{{ ftp_result.name }}  <div class="size">{{ ftp_result.size|filesizeformat }}</div></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                         <p class="lead">No results found</p>
                    {% endif %}

            </div>
        </div>
    {% endif %}

        {% if torrent_results.message %}
            <div class="panel-body">
                <p class="alert alert-danger">{{ torrent_results.message }}</p>
            </div>
        {% endif %}
        {% for site_dict in torrent_results.results %}
            <div class="panel panel-info">
                <div class="panel-heading arrow-toggle" data-toggle="collapse" data-target="#{{ site_dict.site }}">
                    Found {{ site_dict.results|length }} via {{ site_dict.site }}
                    <a class="arrow-toggle icon-arrow pull-right" data-toggle="collapse" data-target="#{{ site_dict.site }}" href="javascript:void(0);">
                        <span class="glyphicon glyphicon-collapse-up icon-arrow-up icon-lg"></span>
                        <span class="glyphicon glyphicon-collapse-down icon-arrow-down icon-lg"></span>
                    </a>
                </div>
                <div id="{{ site_dict.site }}" class="collapse in">
                    {% if site_dict.message %}
                        <div class="panel-body">
                            <p class="alert alert-danger">{{ site_dict.message }}</p>
                        </div>
                    {% endif %}
                        {% if site_dict.results %}
                            <table class="table">
                                {% for torrent in site_dict.results %}
                                    <tr>
                                        <td class="icon"><a class="glyphicon glyphicon-download add-download" site="{{ site_dict.site }}" torrent="{{ torrent.title }}" href="javascript:void(0);"></a></td>
                                        <td class="result">{{ torrent.title }} <div class="size">{{ torrent.size }}</div></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <p class="lead">No results found</p>
                        {% endif %}

                 </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}